@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;

}

.header, .footer, .container {
    background-color: #1F2937;
    color: #E5E7EB;

}

/* General/Mixed */

a, .main p {
    font-size: 18px;
    
}

/* Header Area */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;

}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Main Area (Hero area) */

h1 {
    font-size: 48px;
    font-weight: 600;

}

.main p {
    width: 37ch;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 25rem;
}

.placeholder-img {
    background-color: #949494;
    height: 18rem; /* 208px */
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main button {
    border-style: none;
    padding: 0.4rem;
    width: 8rem;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 1rem;
}

/* Information Area */

.info-bar h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
}

.info-bar {
    text-align: center;
}

.box {
    width: 7rem;
    height: 7rem;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 6rem;
    
    
}

.card p {
    width: 14ch;
}
/* Quote Area */ 

.quote-bar {
    background-color: #E5E7EB;
    padding-top: 7rem;
    padding-bottom: 7rem;
    
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote q {
    width: 35ch;
}

figcaption {
    text-align: center;
    
    margin-left: 25rem;
    font-weight: 400;
    font-size: 20px;

/* Call to action/register area */

.register-card, button {
    background-color: #3882F6;
}






